<div style="margin-top:20px;float:left;margin-right:10px;">
    <form action="" method="post">    
        <input type="hidden" name="step" value="5"/>
        <input class="retry-next-button" type="submit" value="{% trans '{idpinstaller:idpinstaller:try_again_button}' %}"/>
    </form>
</div>

